@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Delius&display=swap');

:root {
  --primary-source: 'Dela Gothic One';
  --secondary-source: 'Delius';

  --primary-color: #FFFFFF;
  --secondary-color: #39c4d0;
  --background-color: #5000F5;
  --transparent-black: rgba(14, 16, 19, .7);
}

.footer {
  width: 100%;
  height: 320px;
  display: flex;
  background: rgba(2, 0, 0, 0.50);
}

.imgFooter {
  height: auto;
}

.descFooter {
  width: 100%;
  padding: 10px;
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: space-evenly;
}

.titleFooter {
  font-size: 16px;
  color: var(--primary-color);
  font-family: var(--primary-source);
}

.containerDesc {
  width: 237px;
  height: 228px;
}

.textFooter {
  font-size: 16px;
  line-height: 35px;
  margin-left: 18px;
  list-style-type: disc;
  color: var( --primary-color);
  font-family: var(--secondary-source);
}

.textFooter:hover {
  color: var(--transparent-black);
}

.info {
  color: var(--primary-color);
}

@media (max-width: 1150px) {

  .footer {
    height: 320px;
  }

  .imgFooter {
    height: 100%;
  }

  .titleFooter {
    font-size: 14px;
  }

  .textFooter {
    font-size: 14px;
  }
}

@media (max-width: 1090px) {

  .imgFooter {
    display: none;
  }
}

@media (max-width: 740px) {

  .footer {
    height: auto;
  }

  .descFooter {
    margin-top: 0;
    flex-wrap: wrap;
  }

  .containerFooter {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
  }

  .containerDesc {
    display: flex;
    flex-direction: column;

  }
}