@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root {
  --primary-source: 'Dela Gothic One';
  --secondary-source: 'Delius';

  --primary-color: #FFFFFF;
  --secondary-color: #39c4d0;
  --background-color: #5000F5;
  --transparent-black: rgba(14, 16, 19, .7);
}

body {
  background-color: var(--background-color);
}

nav {
  top: 0;
  width: 100%;
  height: 110px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: var(--transparent-black);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.containerImg {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  padding-bottom: 30px;
}

.textNav {
  display: flex;
}

.containerNav {
  display: flex;
  padding: 0 50px;
  flex-direction: column;
}

.buttomNav {
  font-family: var(--primary-source);
}

.buttomBar {
  height: 3px;
  width: 100%;
  border-radius: 99px;
  background-color: var(--secondary-color); 
}

#buttomWel {
  width: 0;
  opacity: 0;
}

#buttomWel.buttomBar {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}

#buttomReco {
  width: 0;
  opacity: 0;
}

#buttomReco.buttomBar {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}

#buttomPlay {
  width: 0;
  opacity: 0;
}

#buttomPlay.buttomBar {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}

.containerIcon {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.iconSpoti {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.iconHeart {
  width: 28px;
  height: 28px;
  margin-right: 40px;
}

@media (max-width: 1000px) {

  nav {
    justify-content: flex-start;
  }

  .containerIcon {
    display: none;
  }
}

@media (max-width: 800px) {

  nav {
    justify-content: center;
  }

  .containerImg {
    display: none;
  }
}

@media (max-width: 540px) {

  nav {
    height: 85px;
  }
  
  .containerNav {
    padding: 0 20px;
  }
}