@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
  background-color: #5000F5;
}

nav {
  top: 0;
  width: 100%;
  height: 110px;
  display: flex;
  position: fixed;
  align-items: center;
  background-color: rgba(14, 16, 19, .7);
  justify-content: space-between;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.containerImg {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  padding-bottom: 30px;
}

.textNav {
  display: flex;
}

.containerNav {
  display: flex;
  padding: 0 50px;
  flex-direction: column;

}

.buttomNav {
  font-family: 'Dela Gothic One';
}

.buttomBar {
  height: 3px;
  width: 100%;
  border-radius: 99px;
  background-color:#39c4d0; 
}

#buttomWel {
  width: 0;
  opacity: 0;
}

#buttomWel.buttomBar {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}

#buttomReco {
  width: 0;
  opacity: 0;
}

#buttomReco.buttomBar {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}

#buttomPlay {
  width: 0;
  opacity: 0;
}

#buttomPlay.buttomBar {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}

.containerIcon {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.iconSpoti {
  margin-right: 30px;
  width: 30px;
  height: 30px;
}

.iconHeart {
  margin-right: 40px;
  width: 28px;
  height: 28px;
}