@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.playlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titlePlay {
  width: 282px;
  height: 46px;
  margin: 40px 0;
  font-size: 36px;
  color: #FFFFFF;
  font-family: 'Dela Gothic One';
  text-shadow: 20px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainPlay {
  display: flex;
  width: 1300px;
  margin-bottom: 200px;
  justify-content: space-between;
}

.containerPlay {
  width: 520px;
  display: flex;
  padding: 20px 50px;
  border-radius: 35px;
  align-items: center;
  flex-direction: column;
  background-color: rgba(53, 51, 51, 0.40);
}

.descPlay {
  font-size: 32px;
  color: #FFFFFF;
  margin-bottom: 25px;
  font-family: 'Dela Gothic One';
}

@media (max-width: 1320px) {
  .playlist {
    height: auto;
    margin-top: 40px;
  }

  .mainPlay {
    width: 1130px;
  }

  .containerPlay {
    width: 430px;
  }

  .containerPlay iframe {
    height: 550px;
    margin-top: 30px;
  }

  .descPlay {
    margin: 25px 0;
  }
}

@media (max-width: 1150px) {
  .titlePlay {
    font-size: 30px;
  }

  .mainPlay {
    width: 980px;
  }

  .containerPlay {
    width: 370px;
  }

  .descPlay {
    font-size: 23px;
  }
}

@media (max-width: 1000px) {
  .playlist {
    height: 180vh;
  }

  .mainPlay {
    width: 0px;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .playlist {
    margin-top: 80px;
  }

  .titlePlay {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .titlePlay {
    font-size: 20px;
  }

  .containerPlay {
    width: 370px;
  }

  .containerPlay iframe {
    height: 570px;
  }

  .descPlay {
    font-size: 17px;
    margin-bottom: 0px;
  }
}

@media (max-width: 414px) {
  .playlist {
    height: auto;
    margin-top: 20px;
  }

  .titlePlay{
    width: auto;
    height: auto;
    padding-top: 50px;
  }

  .mainPlay {
    width: 100%;
    margin-bottom: 50px;
  }

  .containerPlay iframe {
    height: 60vh;
  }

  .containerPlay {
    padding: 0;
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
  }
}