@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.recomendacoes {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerReco {
  width: 1210px;
  height: 690px;
  background-color:rgba(53, 51, 51, 0.40); 
  border-radius: 35px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textsReco {
  width: 445px;
  height: 85px;
}

.titleReco {
  font-family: 'Dela Gothic One';
  color: #FFFFFF;
  width: 445px;
  height: 46px;
  font-size: 35px;
  text-shadow: 20px 4px 4px rgba(0, 0, 0, 0.25);
}

.descriptionReco {
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Dela Gothic One';
  margin-left: 100px;
}

.musicTop {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.musicBotton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}