@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

strong {
  color: #FFFFFF;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #36C6CF, #DD71F0);
}

body {
  background-image: linear-gradient(to bottom, #5000f5, 80% #4904d9, #4207be, #3a08a4, #33098a);;
}

.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5000F5;
}

.containerText {
  width: 700px;
  display: flex;
  margin-right: 150px;
  margin-top: 150px;
  flex-direction: column;
}

.welcomeText {
  font-size: 40px;
  color: #FFFFFF;
  line-height: 60px;
  font-family: 'Dela Gothic One';

}

.logotipo {
  height: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.imgWelcome {
  margin-top: 100px;
}